

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Hind';
  color: #999;
}
.section-subtitle{
  margin-top: 0px;
}

.navbar-inverse {
  background-color: #444;
}


/* Page header */
.page-header{
  margin: 60px 0 30px;
  border-bottom: none;
}
.page-header h1{
  text-align: center;
}

/* Viz card */
.viz-card-spacer{
  height: 12px;
}
.viz-card{
  padding: 24px 36px 36px 36px;

  border: 1px solid #EEE;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  background-color: #FFF;
  color: #666;
}
.viz-card p, .viz-card ul, .viz-card ol {
  font-family: 'Hind';
  font-size: 18px;
}
.viz-card blockquote p {
  display: inline;
  font-size: 24px;
  color: #666;
}
.viz-card .viz-description h1{
  font-size:36px
}
.viz-card .viz-description h2{
  font-size:32px
}
.viz-card .viz-description h3{
  font-size:28px
}
.viz-card .viz-description h4{
  font-size:24px
}
.viz-card .viz-description h5{
  font-size:22px
}
.viz-card .viz-description h6{
  font-size:20px
}


/* Tweak autocomplete */
.angucomplete-holder input{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F9F9F9;
}
.angucomplete-holder input:focus{
  background-color: #FFF;
}




/* Particles spinner */
#pjs-container {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-user-select: none; /* Chrome/Safari */        
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
       -o-user-select: none;
          user-select: none;

  cursor: crosshair;

}
#pjs-container .pjs-txt-container {
  position: absolute;
  left: -100px;
  top: -20px;
}
#pjs-container .pjs-txt-container .pjs-txt {
  width: 200px;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
}
#particles-js {
  position: absolute;
  margin-left: -80px;
  margin-top: -80px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #444;
  overflow: hidden;
}


/* hashtag-line */
.hashtag-line:hover {
  background-color: #DEF;
}
.hashtag-line-number {
  width: 60px;
  text-align: right;
  padding-right: 6px;
}
.center {
  text-align: center;
}

/* Sigma */
.sigma-parent {
  position: relative;
  width:100%;
  height: 100%;

  background-color: #FFF;

  -webkit-user-select: none; /* Chrome/Safari */        
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
               select: none;
}

.sigma-floating{
  padding: 2px;
  position: absolute;

  top: 62px;
  right: 12px;

  overflow: hidden;
}
.sigma-floating .dropdown-menu{
  top: initial;
}

.sigma-expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sigma-tools {
  /*border: 1px solid #d2d2d2;*/

  position: absolute;
  top: 12px;
  left: 12px;

  -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
}
.sigma-tools .btn-link{
  background-color: #FFF;
  
}