<div ng-if="loading">LOADING...</div>
<div ng-if="!loading">
  <div>
    <p class="text-muted">Displaying only hashtags with {{minCount}}+ tweets over the period - {{list.length}} hashtags</p>
  </div>
  <div class="row">
  <div class="col-md-4">
    <table>
      <tr>
        <td class="text-muted hashtag-line-number">
          tweets
        </td>
        <td class="text-muted">
          hashtag
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 text-muted center">
    <strong>Date</strong> first / median / last
  </div>
  <div class="col-md-2 text-muted center">
    <strong>Favorite</strong> mean / max
  </div>
  <div class="col-md-2 text-muted center">
    <strong>RT</strong> mean / max
  </div>
</div>
  <div dir-paginate="item in list | orderBy:'-tweetCount' | itemsPerPage: 25">
    <hashtag-line item="item"/>
  </div>
  <dir-pagination-controls
    boundary-links="true"
    on-page-change="pageChangeHandler(newPageNumber)"
    template-url="partials/dirPagination.tpl.html"
  ></dir-pagination-controls>
</div>
