<div class="row hashtag-line">
  <div class="col-md-4">
    <table>
      <tr>
        <td class="text-info hashtag-line-number">
          {{item.tweetCount | number}}
        </td>
        <td>
          {{item.text}}
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 center">
    {{item.dateFirst|dateCompact}} / {{item.dateMedian|dateCompact}} / {{item.dateLast|dateCompact}}
  </div>
  <div class="col-md-2 center">
    {{item.favorite_countMean|number}} / {{item.favorite_countMax|number}}
  </div>
  <div class="col-md-2 center">
    {{item.retweet_countMean|number}} / {{item.retweet_countMax|number}}
  </div>
</div>
