<div layout="row" class="hashtag-line">
  <div flex="35">
    <table>
      <tr>
        <td class="text-info hashtag-line-number">
          {{item.tweetCount | number}}
        </td>
        <td>
          {{item.text}}
        </td>
      </tr>
    </table>
  </div>
  <div flex="35" class="center">
    {{item.dateFirst|dateCompact}} / {{item.dateMedian|dateCompact}} / {{item.dateLast|dateCompact}}
  </div>
  <div flex="15" class="center">
    {{item.favorite_countMean|number}} / {{item.favorite_countMax|number}}
  </div>
  <div flex="15" class="center">
    {{item.retweet_countMean|number}} / {{item.retweet_countMax|number}}
  </div>
</div>
