<div
  class="sigma-parent"
  ng-show="!pending"
  ng-class="{pointable: overNode}"
>
  <div class="sigma-expand" id="sigma"></div>
  <div class="sigma-tools">
    <div layout="column">
      <md-button
        class="md-icon-button md-accent"
        aria-label="Play/Pause"
        ng-click="toggleSpatialization()"
      >
        <i class="material-icons" ng-show="!spatializationRunning">play_circle_outline</i>
        <i class="material-icons" ng-show="spatializationRunning">pause_circle_outline</i>
      </md-button>
      <md-button
        class="md-icon-button md-primary"
        aria-label="Restore zoom"
        ng-click="sigmaRecenter()"
      >
        <i class="material-icons">settings_backup_restore</i>
      </md-button>
      <md-button
        class="md-icon-button md-primary"
        aria-label="Zoom"
        ng-click="sigmaZoom()"
      >
        <i class="material-icons">add_circle_outline</i>
      </md-button>
      <md-button
        class="md-icon-button md-primary"
        aria-label="Dezoom"
        ng-click="sigmaUnzoom()"
      >
        <i class="material-icons">remove_circle_outline</i>
      </md-button>
    </div>
  </div>
</div>