<div ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div layout="column" ng-show="!loading">
  
  <div layout-padding>
    <h1>Hashtags over time</h1>
  </div>

  <md-whiteframe class="md-whiteframe-1dp" layout-padding>
    <div>
      <daily-count-brushable
        id="BRUSH"
        data="tweetsTotalDaily"
        time-accessor="ttdGetTime"
        volume-accessor="ttdGetVolume"
        from="startTime"
        to="endTime"
      ></daily-count-brushable>
    </div>
    <center>
      <strong>Tweet volume over time</strong>
      <span ng-show="startTime && startTime !== endTime"> - Selection: from {{startTime|date}} to {{endTime|date}}</span>
      <span ng-show="!(startTime && startTime !== endTime)"> - Select a period</span>
    </center>
  </md-whiteframe>
  
  <div layout-padding>
    <h3>Hashtags over {{startTime && startTime !== endTime ? 'this' : 'the whole'}} period</h3>
    <div>
      <hashtags-by-period
        from="startTime_slowUpdate"
        to="endTime_slowUpdate"
        default-from="timeMin"
        default-to="timeMax"
        min-count="5"
        selected-hashtag="selectedHashtag"
      ></hashtags-by-period>
    </div>
  </div>

  <footer>
  </footer>
</div>