<div ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div layout="column" ng-show="!loading">
  
  <div
    layout="row"
  >
    <div flex="70">
      <h1>Hashtags over time</h1>
    </div>
    <div
      flex="30"
      layout="row"
      ariane-line
    >
    </div>
  </div>

  <div layout="row">
    <md-whiteframe
      class="md-whiteframe-1dp"
      layout-padding
      flex="70"
      style="overflow: hidden;"
    >
      <div>
        <daily-count-brushable
          id="BRUSH"
          data="tweetsTotalDaily"
          time-accessor="ttdGetTime"
          volume-accessor="ttdGetVolume"
          from="startTime"
          to="endTime"
        ></daily-count-brushable>
      </div>
      <center>
        <strong>Tweets volume over time</strong>
        <br>
        <span ng-show="startTime && startTime !== endTime">Selection: from {{startTime|dateCompact}} to {{endTime|dateCompact}}</span>
        <span ng-show="!(startTime && startTime !== endTime)">From {{timeMin|dateCompact}} to {{timeMax|dateCompact}}</span>
      </center>
    </md-whiteframe>
    <div
      flex="30"
      layout="row"
      ariane-line
      text="Tweets volume"
    >
    </div>
  </div>

  <div layout="row">
    <div
      flex="70"
    ></div>
    <div
      flex="30"
      ariane-spot
      icon="keyboard_arrow_down"
      text="Select a period"
    >
    </div>
  </div>

  <div layout="row">
    <md-whiteframe
      class="md-whiteframe-1dp"
      layout-padding
      flex="70"
    >
      <div>
        <hashtags-by-period
          from="startTime_slowUpdate"
          to="endTime_slowUpdate"
          default-from="timeMin"
          default-to="timeMax"
          min-count="5"
          selected-hashtag="selectedHashtag"
        ></hashtags-by-period>
      </div>
    </md-whiteframe>
    <div
      flex="30"
      layout="row"
      ariane-line
      text="Hashtags"
    >
    </div>
  </div>

  <div layout="row" ng-show="selectedHashtag && selectedHashtag != ''">
    <md-whiteframe
      class="md-whiteframe-1dp"
      layout-padding
      flex="70"
    >
      <div>
        <tweet-verbatims
          from="startTime_slowUpdate"
          to="endTime_slowUpdate"
          search="selectedHashtag"
          default-from="timeMin"
          default-to="timeMax"
          display="selectedHashtag && selectedHashtag != ''"
        ></tweet-verbatims>
      </div>
    </md-whiteframe>
    <div
      flex="30"
      layout="row"
      ariane-line
      text="Tweets verbatim"
    >
    </div>
  </div>

  <footer>
  </footer>
</div>