<navbar/>

<div class="container-fluid" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container-fluid" ng-show="!loading">
  
  <div class="row">

    <div class="col-md-8 col-sm-6">
      <div class="page-header">
        <h1>Hashtags over time</h1>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="viz-card">
        <h3>Select a time interval:</h3>
        <div>
          <daily-count-brushable
            id="BRUSH"
            data="tweetsTotalDaily"
            time-accessor="ttdGetTime"
            volume-accessor="ttdGetVolume"
            from="startTime"
            to="endTime"
          />
        </div>
        <center>
          <strong>Tweet volume over time</strong>
          <span ng-show="startTime"> - Selection: from {{startTime|date}} to {{endTime|date}}</span>
        </center>
      </div>
    </div>
  </div>

  <footer>
    
  </footer>
</div> <!-- /container -->