<div ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div layout="column" ng-show="!loading">
  
  <div layout-padding>
    <h1>Hashtags x users over time</h1>
  </div>

  <md-whiteframe class="md-whiteframe-1dp" layout-padding>
    <div>
      <daily-count-brushable
        id="BRUSH"
        data="tweetsTotalDaily"
        time-accessor="ttdGetTime"
        volume-accessor="ttdGetVolume"
        from="startTime"
        to="endTime"
      ></daily-count-brushable>
    </div>
    <center>
      <strong>Tweet volume over time</strong>
      <span ng-show="startTime && startTime !== endTime"> - Selection: from {{startTime|date}} to {{endTime|date}}</span>
      <span ng-show="!(startTime && startTime !== endTime)"> - Select a period</span>
    </center>
  </md-whiteframe>

  <div layout-padding>
    <h3>Hashtags x users over this period</h3>
    <div>
      <hashtags-users-by-period
        from="startTime_slowUpdate"
        to="endTime_slowUpdate"
        default-from="timeMin"
        default-to="timeMax"
        mask="mask"
        tweets-limit="500000"
        hashtags-min-degree="3"
        hashtags-limit="200"
        users-min-degree="3"
        users-limit="200"
      ></hashtags-users-by-period>
    </div>
    <div>
      <table>
        <tr>
          <td class="key-cell"><span class="dot" style="background-color: #9999AA;"></span>&nbsp;#Hashtag</td>
          <td class="key-cell"><span class="dot" style="background-color: #443333;"></span>&nbsp;@User</td>
        </tr>
      </table>
    </div>
  </div>

  <footer>
    
  </footer>
</div> <!-- /container -->