<navbar/>

<div class="container-fluid" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container-fluid" ng-show="!loading">
  
  <div class="row">

    <div class="col-md-12">
      <div class="page-header">

        <h1>Dutch Refugee Crisis on Twitter</h1>
        
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="#/hashtags-overtime">Hashtags over time</a>
      <br>
      <a href="#/hashtags-users-overtime">Hashtags x Users over time (Network)</a>
    </div>
  </div>


  <footer>
    
  </footer>
</div> <!-- /container -->